option_settings:
  aws:elasticbeanstalk:application:environment:
    MEDUSA_BACKEND_URL: http://localhost:9000
    STORE_CORS: "*"
    ADMIN_CORS: "*"
    AUTH_CORS: "*"

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-medusa-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-engine.log
      /var/log/eb-hooks.log
